<% @values.reverse!.each do |value| %>
  <div class='newEntry'>
    <i class='fa fa-eur green'></i>
    <p <% unless value.description.blank? %> class='entryText withTooltip' data-placement='top' data-toggle='tooltip' title='<%=value.description%>'<%else%> class="entryText" <%end%> >
      Adicionaste
      <span class='bold'><%= number_to_currency(value.value, :unit => "&euro;".html_safe, :format => "%n %u", :separator => ".", :delimiter => " ", :precision => 2) %></span>
      ao desafio
    </p>
    <%= link_to '<i class="fa fa-times"></i>'.html_safe, remove_value_path(value), :class => "deleteEntry", data: { confirm: 'Are you sure?' } if user_signed_in? && @objective.user_id == current_user.id %> 
    <time><%= time_ago_in_words(value.created_at)%></time>
  </div>
  <% end %>
<%= will_paginate @values %>