    <section id='newChallenge'>
      <!-- ### New challenge form ### -->
      <article class='challengeForm'>
        <div class='container'>
          <div class='row'>
            <div class='col-md-4 col-md-offset-4'>
              <h1 class='formTitle'>Começar desafio</h1>
              <%= form_for @objective , :html => { :multipart => true } do |f| %>
  
				  <% if @objective.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@objective.errors.count, "error") %> prohibited this objective from being saved:</h2>
				
				      <ul>
				      <% @objective.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
					<div class='row'>
						<div class='form-group col-md-12'>
							<%= f.label 	:category_id, t('newobjtype').capitalize %>
							<%= f.select 	:category_id, Category.all.map{ |c| [c.name, c.id] },{:prompt => t('selectcategory').capitalize}, {:class =>'form-control input-lg', } %>							
						</div>
					</div>
	
					<div class='row'>
	                  <div class='form-group col-md-12'>
	                    <%= f.label :name, t('challengename').capitalize %>
	                    <div class='wrapper'>
	                    	<%= f.text_field :name, :placeholder => t('nameexamples').capitalize, :class => 'form-control input-lg' %>
	                        <i class='fa fa-2x fa-tag'></i>
	                    </div>
	                  </div>
	                </div>
	                
	                <div class='row'>
                  <div class='form-group col-md-12'>
                    <%= f.label :price, "Quanto dinheiro pretendes guardar?" %>
                    <div class='wrapper'>
						<%= f.number_field :price, :placeholder => "300€", :class => 'form-control input-lg', :min => "1" %>
	                    <i class='fa fa-2x fa-eur'></i>
                    </div>
                  </div>
                </div>
					
					<div class='row'>
	                  <div class='form-group col-md-12'>
	                  	<%= f.label :end_day, t('enddate').capitalize %>
	                    <div class='wrapper'>
							<%= f.date_field :end_day, :placeholder => "DD-MM-AAAA ou AAAA-MM-DD", :class=> 'form-control input-lg' %>
							<i class='fa fa-2x fa-calendar-o'></i>
	                    </div>
	                  </div>
	                </div>

				  
				  <div class="field">
				    <br>
				  </div>
				  
					<div class='row'>
					  <div class='form-group col-md-6 pull-right'>
					  	<%= f.submit t('createchallenge').capitalize, :class => 'btn btn-lg btn-success' %>
					  </div>
					</div>
				<% end %>                            
            </div>
          </div>
        </div>
      </article>
    </section>