<!-- <p id="notice"><%= notice %></p> -->

<section id='challenge'<%if @objective.missing_value == 0 %> class='completed' <%end%> >
        
      <article class='bigAddSavings'>
        
        <div class='background parallax-bg' data-speed='6' data-type='background-parallax' style="background-image: url(<%= @objective.photo.url(:wide) %>)" >
          <div class='container'>
            <div class='row headerChallenge'>
              <div class='col-md-7'>
                <h1 class='h3 challengeTitle'><%= @objective.name %></h1>
                <% if @objective.completed_percentage < 100 %>
	                <%= link_to "<i class='fa fa-lg fa-pencil-square-o'></i> #{t('edit')}".html_safe , edit_objective_path(@objective), :class => "challengeEdit" if user_signed_in? && @objective.user_id == current_user.id  %>
				<%end%>
              </div>
              
              
              
              <div class='col-md-5'>
                <div class='progressWrap pull-right'>
                  <h1 class='h6 progressTitle'><%= t('progress')%></h1>
                  <div class='progress'>
                  	<%= bootstrap_progress_bar(@objective.completed_percentage, :color => "info", :class => "progress-bar", :tiny => true) %>
                  </div>
                  <div class='challengeTotal'><%= number_to_currency(@objective.price, :unit => "&euro;".html_safe, :format => "%n %u", :separator => ".", :delimiter => " ", :precision => 2) %></div>
                </div>
              </div>
            </div>
          </div>


          <div class='container'>
            <div class='row'>
				<!--
              <div class='col-md-6'>
                <ul class='challengeFriends'>
                  <li>
                    <a class='friendPicture withTooltip' data-placement='bottom' data-toggle='tooltip' href='javascript:;' title='João Tigre'>
                      <img alt='João Tigre' class='img-responsive' src='images/f04.jpg'>
                    </a>
                  </li>
                  <li>
                    <a class='friendPicture withTooltip' data-placement='bottom' data-toggle='tooltip' href='javascript:;' title='João Tigre'>
                      <img alt='João Tigre' class='img-responsive' src='images/f03.jpg'>
                    </a>
                  </li>
                  <li>
                    <a class='friendPicture withTooltip' data-placement='bottom' data-toggle='tooltip' href='javascript:;' title='João Tigre'>
                      <img alt='João Tigre' class='img-responsive' src='images/f01.jpg'>
                    </a>
                  </li>
                  <li>
                    <a class='friendPicture withTooltip' data-placement='bottom' data-toggle='tooltip' href='javascript:;' title='João Tigre'>
                      <img alt='João Tigre' class='img-responsive' src='images/f06.jpg'>
                    </a>
                  </li>
                  <li>
                    <a class='friendPicture withTooltip' data-placement='bottom' data-toggle='tooltip' href='javascript:;' title='João Tigre'>
                      <img alt='João Tigre' class='img-responsive' src='images/f07.jpg'>
                    </a>
                  </li>
                  <li>
                    <a class='friendPicture addMore' href='#' title='Adicionar amigo'>
                      <i class='fa fa-plus'></i>
                    </a>
                  </li>
                </ul>
              </div>
-->
              <div class='col-md-6 pull-right'>
                <div class='challengeDate'>
                  <i class='fa fa-calendar-o'></i>
                  <%= @objective.start_day.to_date %> - <%= @objective.end_day.to_date %>
                </div>
              </div>
            </div>
          </div>
          
		  <div class='verticalCenter-wrapper fullscreen'>
            <div class='verticalCenter'>
				<%if @objective.missing_value != 0 %>
				      <div class='container addSavings'>
				        <div class='row'>
				          <div class='col-md-4 col-md-offset-4'>
								<div class='addSavings-header'>
			                  <h1 class='secondary'><%= t('missing')%></h1>
			                  <h1 class='main'>
			                  		<%= number_to_currency(@objective.missing_value, 
			                  			:unit => "#{t('currencyicon_html')}".html_safe, 
			                  			:format => "%n %u", 
			                  			:separator => ".", 
			                  			:delimiter => " ", 
			                  			:precision => 2) %>
			                  </h1>
			                </div>   
				                <div class='addSavings-body'>
									<p><%= t('howmanysave').capitalize %></p>
									<%= form_tag "/objectives/#{ @objective.id }/add_value/", method: "post" do %>
										<%= hidden_field_tag :previous_page, "objective" %>
										<div class="savingInput">
										  <input type="text" name="value">
										  <span class='currencySymbol'><%= t('currencyicon_html')%></span>
										</div>
										<div class="descriptionInput">
										  <input type="text" name="description" placeholder='<%= t('descriptionopt').capitalize%>'>
										</div>
										<div class="actions">
										  <input type="submit" class="sr-only">
										</div>
										<p class='helpText'>
										  <%= t('addsaving').capitalize %>
										</p>
									<% end %>
								</div>
							</div>
				        </div>
				      </div>
				<% else %>
			          <div class='container completedBadge'>
			            <div class='row'>
			              <div class='col-md-4 col-md-offset-4'>
			                <div class='textWrapper'>
			                  <div class='text'>
			                    <p class='completed'><%= t("challengecompleted").upcase %></p>
			                    <p><%= t('congratzendchallenge').capitalize%></p>
			                    <div class='newChallenge'>
			                    	<%= link_to t('startnewchallenge').capitalize, new_objective_path, :class => 'navbar-link'  %>
			                    </div>
			                  </div>
			                </div>
			              </div>
			            </div>
			          </div>
				<%end%>
            </div>
          </div>

        </div>
        
      </article>
      
      <article class='challengeActivity'>
        <div class='container'>
			
			<%if @labelsset.length>10%>
			  <div class='row'>
				  	<div class='col-md-12' id='chartContainer' style="height: 400px;">
					  	<canvas id='lineChart'></canvas>
					  </div>
				  </div>
			<%end%>

			<div class='row'>
          
            	<div class='col-md-6'>
            	
					<div class='row'>
					  	<%if @labelsset.length > 1 && @labelsset.length<=10%>
		               		<div class='col-md-12' id='chartContainer' style="height: 400px">
						   		<canvas id='lineChart'></canvas>
						   	</div>
						<%end%>
					
						<div class='col-md-12 userEntries'>
		            
							<div class='modalBox'>
		
								<div class='header'>
							      <h1 class='h5'>
							        <%= t('diary')%>
							        <small><%= t('lastentries')%></small>
							      </h1>
							    </div>
							    
							    <div class='body' id="obj_value"><%= render 'values' %></div>
							    
							</div>
						</div>
					</div>

				</div>
            
				<div class='col-md-6 comments'>
				
					<div class='headerOut'>
						<h1 class='h5'>
						  <%= t('activity') %>
						  <small><%= t('giveopinion').capitalize %></small>
						</h1>
					</div>
					
					<div class='modalBox'>
						<div class='body'>
						
							<% @objective.objective_comments.each do |comment| %>
							  <% user = User.find(comment.user_id) %>
							  <div class='commentBox'>
								 <%=image_tag user.photo.url(:nav), :class => 'comment-avatar' %>
							    <div class='comment-body'>
							      <div class='comment-by'>
							      	<%= link_to user.name , public_profile_path(comment.user_id)%>
							      </div>
							      <p class='comment-text'>
							        <%= comment.comment%>
							      </p>
							      <div class='comment-actions'>
							        <time><%= time_ago_in_words(comment.created_at)%></time>
									<%= link_to "<i class='fa fa-times'></i> #{t('remove').capitalize}".html_safe, 
											remove_comment_path(comment), 
											:class => "pull-right", 
											data: { confirm: "#{t('sure').capitalize}" } if user_signed_in? && (comment.user_id == current_user.id || current_user.has_ownership?(@objective.id)) %> 
							      </div>
							    </div>
							  </div>
							<% end %>
                  
							<div class='newComment'>
								<%= form_tag "/objectives/#{ @objective.id }/add_comment/", method: "post" do %>
									<div class='commentArea'>
										<%= image_tag current_user.photo.url(:nav), :class => "avatar"%>
										<div class='inputWrap'>
											<%= text_area_tag :comment %>
										</div>
										<%= submit_tag "#{t('submit').capitalize}", :class=>"sr-only"%>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			
			</div>
			
			<div class='row'>
				<div class='col-md-6 pull-right'>
					<div class='share-report'>
						<p class='share'><%= t('share').capitalize%></p>
						<a href='#'>
						  <i class='fa fa-2x fa-facebook-square'></i>
						</a>
						<a href='#'>
						  <i class='fa fa-2x fa-twitter-square'></i>
						</a>
						<a href='#'>
						  <i class='fa fa-2x fa-google-plus-square'></i>
						</a>
						<a class='report' href='#'><%= t('reportuserobj').capitalize%></a>
					</div>
				</div>
			</div>
			
		</div>
      </article>
      
    </section>

<% content_for :js do %>
	<%= javascript_include_tag "Chart.min.js" %>
	
	<script>

	var lineChartData = {
		labels : ["<%= @labelsset.map{ |date| "#{time_ago_in_words(date)} #{t('ago')}" }.join('", "').html_safe %>"],    
		datasets: [{
			label: "Savings Graph",
			fillColor : "rgba(220,220,220,0.2)",
			strokeColor : "rgba(220,220,220,1)",
			pointColor : "rgba(220,220,220,1)",
			pointStrokeColor : "#fff",
			pointHighlightFill : "#fff",
			pointHighlightStroke : "rgba(220,220,220,1)",
			data : [<%= @dataset.join(", ") %>]
	
			}]
	};
	
	var options = {
	    tooltipTemplate: " Guardaste <%%= value %> €",
		animation : true
	};
	
	//Get the context of the canvas element we want to select
	var c = $('#lineChart');
	var ct = c.get(0).getContext('2d');
	var ctx = document.getElementById("lineChart").getContext("2d");
	
	//Run function when window resizes
	$(window).resize(respondCanvas);
	
	function respondCanvas() {
	    c.attr('width', $("#chartContainer").width());
	    c.attr('height', $("#chartContainer").height());
	    //Call a function to redraw other content (texts, images etc)
	    myNewChart = new Chart(ct).Line(lineChartData, options);
	}
	
	//Initial call
	window.onload = function(){
		respondCanvas();
	};




</script>

<% end %>