<div class='row' id="challenges">
	<% unless @challenges.blank?  %> 
		<% @challenges.reverse!.each do |userobj| %>
			<div class='col-md-4'>
				<%if (userobj.objective.completed_percentage<100) %>
					<div class='challenge'>
						<div class='challengeImage-wrapper'>
	            	<%= image_tag( userobj.objective.photo.url(:dashboard), :class => "challengeImage")%>
	            </div>
						<div class='black-wrapper'>
	              <div class='hiddenInfo'>
				  	<% if userobj.objective.objective_type != 0 %>

		                <div class='challengeFriends'>
		                	<% userobj.objective.user_objectives.reject{|c| c.user_id == current_user.id }.first(3).each do |line|%>
								<%unless line.user.id == current_user.id %>
									<%= link_to image_tag(line.user.photo.url(:nav), :class=>"img-responsive"), public_profile_path(line.user.id), :class => "friendPicture" %>
								<%end%>
							<%end%>
							<% if userobj.objective.user_objectives.length > 3 %>
								<a alt='Nome do amigo' class='friendPicture viewMore' href='javascript:;'><%= userobj.objective.user_objectives.length - 4 %></a>
							<% end %>
		                </div>
					<% end %>
					<div class='progressWrap'>
					  <h1 class='h6 progressTitle'>Progresso</h1>
					  	<% unless userobj.objective.objective_type == 1 %>
					    	<%= bootstrap_progress_bar(userobj.objective.completed_percentage, :color => 'info', :tiny => true) %>
					    <%else%>
					    	<%= bootstrap_progress_bar(userobj.objective.completed_percentage_shared(current_user.id), :color => 'info', :tiny => true)%>
					    <%end%>
					  <div class='challengeTotal'> <%= userobj.objective.price %> <%= t("currencyicon_html")%>  </div>
					</div>
	              </div>
	              
	              
	              
	            </div>
				<% else %>
					<div class='challenge completed'>
		                <div class='challengeImage-wrapper'>
		                	<%= image_tag( userobj.objective.photo.url(:dashboard), :class => "challengeImage")%>
		                </div>
						<div class='black-wrapper'>
		                  <div class='completedBadge'>
		                    <i class='fa fa-check fa-3x'></i>
		                  </div>
		                </div>
	            <%end%>
		            <div class='challengeTitle'>
		              <h1 class='h3'>
		              	<%= link_to userobj.objective.name, userobj.objective %>
		              </h1>
		            </div>
	          </div>
	        </div>
			
		<% end %>
		<div class='col-md-4'>
			<div class='challenge addNew'>
			  <%= link_to '<i class="fa fa-plus fa-4x"></i>'.html_safe, new_objective_path %>
			</div>
		</div>
	
		
	<% else %>
		<% if current_user.user_objectives.blank? %>
	
		<div class='col-md-12'>
		  <div class='noChallenges'>
		    <p>
		      Ainda não tens nenhum desafio. Porque não te aventuras e começas por
		      <%= link_to 'criar um novo desafio', new_objective_path %>
		      ?
		    </p>
		  </div>
		</div>
		
		<%else%>
			<div class='col-md-12'>
			  <div class='noChallenges'>
			    <p>
			      Ainda não tens nenhum desafio nesta categoria. Podes sempre <%= link_to 'criar um novo desafio', new_objective_path %>!
			    </p>
			  </div>
			</div>
		
		<% end %>
	
	<% end %>
	</div>
</div>
