<%= form_for(@moneybox) do |f| %>
  <% if @moneybox.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moneybox.errors.count, "error") %> prohibited this moneybox from being saved:</h2>

      <ul>
      <% @moneybox.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codenumber %><br>
    <%= f.text_field :codenumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
