<section id='editProfile'>
      <!-- ### Edit profile form ### -->
	<article class='editForm'>
		<div class='container'>
        
			<% if !devise_error_messages!.blank? %>
	        	<div class='alertWrapper'>
		      <div class='container'>
		        <div class='row'>
		          <div class='col-md-4 col-md-offset-4'>
					 <div class='alert alert-warning alert-dismissible' role='alert'>
		              <button class='close' data-dismiss='alert' type='button'>
		                <span aria-hidden='true'>&#215;</span>
		              </button>
		              <strong>Ocorreu um erro.</strong>
					  <%= devise_error_messages! %>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
			<% end %>
		
			<div class='row'>
				<div class='col-md-12'>
				  <div class='formTitle'>
				    <h1>Editar perfil</h1>
				    <hr>
				  </div>
				</div>
			</div>
		
		
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
				<div class='row'>
					<!-- Photos -->
					<div class='col-md-3' id='left'>
		              <div class='row'>
		                <div class='col-md-12'>
		                  <div class='text-center userPhotos'>
		                  	<%= image_tag current_user.photo.url(:thumb), :class => "avatar img-responsive img-circle" %>				
						  	<h6>Selecciona para alterar a foto de perfil</h6>
							<%= f.file_field :photo, :class => 'form-control' %>
		                  </div>
		                </div>
		              </div>
		              <div class='row'>
		                <div class='col-md-12'>
		                  <div class='text-center userPhotos'>
		                    <%= image_tag current_user.cover.url(:cover_thumb), :class => "cover img-responsive img-rounded" %>
		                    <h6>Selecciona para alterar a foto de capa</h6>
		                    <%= f.file_field :cover, :class => 'form-control' %>
		                  </div>
		                </div>
		              </div>
		            </div>
					<!-- edit form column -->
					<div class='col-md-9 personal-info'>
		                
		                <h1 class='h4 form-section-title'>
		                  <i class='fa fa-user'></i>
		                  Dados pessoais
		                </h1>
		                 		                
		                <div class='form-group'>
		                  <%= f.label :name, :class =>'col-md-2 control-label' %>
		                  <div class='col-md-4'>
		                  	<%= f.text_field :name, :class => 'form-control'%>
		                  </div>
		                  
		                  <%= f.label :surname,"Apelido", :class =>'col-md-2 control-label' %>
		                  <div class='col-md-4'>
		                  	<%= f.text_field :surname, :class => 'form-control'%>
		                  </div>
		                </div>	                
		                <div class='form-group'>
		                  <%= f.label :city, "Cidade", :class =>'col-md-2 control-label'%>
		                  <div class='col-md-4'>
						  	<%= f.text_field :city, :class => 'form-control' %>
		                  </div>
		                  
						  <%= f.label :country, "País", :class =>'col-md-2 control-label'%>
		                  <div class='col-md-4'>
						  	<%= f.text_field :country, :class => 'form-control' %>
		                  </div>
		                </div>
		                <div class='form-group'>
							<%= f.label :email, :class =>'col-md-2 control-label'%>
							<div class='col-md-4'>
								<%= f.email_field :email, :autocomplete => :off, :class => 'form-control'%>
							</div>
							
							<%= f.label :facebook_user,"Facebook ID", :class =>'col-md-2 control-label'%>
							<div class='col-md-4'>
								<%= f.text_field :facebook_user, :class => 'form-control'%>
								<p class='help-block'>
									Ex.:
									<span class='italic'>
										www.facebook.com/
										<strong style='margin-left: -4px;'>nome-apelido</strong>
									</span>
								</p>
							</div>
		                </div>
		                <div class='form-group'>
		                	<%= f.label  :biography,"Sobre" ,:class =>'col-md-2 control-label' %>
							<div class='col-md-4'>
							 	<%= f.text_area :biography, :name => "about", :rows => "3", :class => 'form-control' %>
							</div>
		                </div>
		                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
							<div class='alertWrapper'>
						      <div class='container'>
						        <div class='row'>
						          <div class='col-md-4 col-md-offset-4'>
									 <div class='alert alert-warning alert-dismissible' role='alert'>
						              <button class='close' data-dismiss='alert' type='button'>
						                <span aria-hidden='true'>&#215;</span>
						              </button>
						              <strong>Currently waiting confirmation for:</strong>
									  <%= resource.unconfirmed_email %>
						            </div>
						          </div>
						        </div>
						      </div>
						    </div>
						<% end %>
		                
		                <h1 class='h4 form-section-title'>
		                  <i class='fa fa-asterisk'></i>
		                  Palavra-passe
		                </h1>
		                <div class='form-group'>
		                	<%= f.label :password, "Nova palavra-passe:", :class =>'col-md-2 control-label'%>
							<div class='col-md-4'>
								<%= f.password_field :password, :autocomplete => "off", :class => 'form-control' %>
							</div>
							<%= f.label :password_confirmation, "Confirmar:", :class =>'col-md-2 control-label'%>
							<div class='col-md-4'>
								<%= f.password_field :password_confirmation, :autocomplete => "off", :class => 'form-control' %>
							</div>
		                </div>
						<div class='form-group'>
		                	<%= f.label :current_password, "Palavra-passe actual:", :class =>'col-md-2 control-label'%>
							<div class='col-md-4'>
								<%= f.password_field :current_password, :autocomplete => "off", :class => 'form-control' %>
								<p class='help-block' style="color: #43B8B2;">
			                      Necessário para confirmar as alterações
			                    </p>
							</div>

		                </div>
		                <hr>
		                <div class='form-group'>
		                  <div class='col-md-12'>
		                    <p class='help-block cancelAccount'>
		                    	<%= link_to "Clica aqui", registration_path(resource_name), data: { confirm: t('sure').capitalize }, method: :delete %>
		                    	para cancelar a tua conta
		                    </p>
		                  </div>
		                </div>
		                <hr>
		                <div class='form-group footer text-right'>
							<div class='col-md-12'>
								<%= f.submit "Guardar alterações", :class => 'btn btn-primary' %>
							</div>
		                </div>				
					</div>
				</div>
			<% end %>
		</div>
	</article>
</section>