<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :nome %><br />
  <%= f.text_field :nome %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  
  <div><%= f.label :local %><br />
  <%= f.text_field :local %></div>
  
  <div><%= f.label :biography %><br />
  <%= f.text_field :biography %></div>
  
     <div><%= f.label :facebook_user %><br />
  <%= f.text_field :facebook_user %></div>
  
  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
