<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Moneybox:</strong>
  <%= @user.moneybox %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Place:</strong>
  <%= @user.place %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @user.currency_id %>
</p>

<p>
  <strong>Facebook user:</strong>
  <%= @user.facebook_user %>
</p>

<p>
  <strong>Twitter user:</strong>
  <%= @user.twitter_user %>
</p>

<p>
  <strong>Type:</strong>
  <%= @user.type %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
