<section id='dashboard'>
  <article class='cover'>
        <div class='background-cover'>
        	<%= image_tag @user.cover.url(:cover) %>
        </div>
        
        <div class='container userPicture-container'>
          <div class='row'>
            <div class='col-md-2'>
              <div class='userPicture'>
                <div class='userPicture-inner'>
                  <%= image_tag @user.photo.url(:dashboard), :class => "userPicture-image" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </article>

  <article class='userInfo'>
        <div class='userInfo-header'>
          <div class='container'>
            <div class='row'>
             <div class='userName col-md-5 col-md-offset-2'>
                <h1 class='h3'><%= @user.nome %></h1>
				<div class='actionFriendBtn'>

					<% if Friend.is_friend?(current_user.id, @user.id)%>
		            	<%= link_to '<i class="fa fa-lg fa-minus-circle"></i> Remover amigo'.html_safe, remove_friend_path(@user.id), :class => "remove" %>
					<% else %>
						<%= link_to '<i class="fa fa-lg fa-plus-circle"></i> Adicionar como amigo'.html_safe, add_friend_path(@user.id), :class => "add" %>
					<% end %>          
                </div>
              </div>
                            
              <div class='col-md-5'>
                <ul class='userInfo-header-right pull-right'>
                
                
                
                
                    <li class='userAwards'>
                      <h2>
                        Medalhas
                        <a data-target='#viewAwards-modal' data-toggle='modal' href='#'>(16)</a>
                      </h2>
                      <div class='userAward-wrapper'>
                        <a class='award green' href='javascript:;'>
                          <i class='fa fa-star fa-lg'></i>
                        </a>
                        <a class='award red' href='javascript:;'>
                          <i class='fa fa-trophy fa-lg'></i>
                        </a>
                        <a class='award green' href='javascript:;'>
                          <i class='fa fa-tree fa-lg'></i>
                        </a>
                        <a class='award green' href='javascript:;'>
                          <i class='fa fa-plane fa-lg'></i>
                        </a>
                        <a class='award addOne' data-target='#newAward-modal' data-toggle='modal' href='javascript:;'>
                          <i class='fa fa-plus fa-lg'></i>
                        </a>
                        <!-- Modal -->
                        <div aria-hidden='true' aria-labelledby='myModalLabel' class='modal fade' id='newAward-modal' role='dialog' tabindex='-1'>
                          <div class='modal-dialog'>
                            <div class='modal-content'>
                              <div class='selectMedal-wrap'>
                                <div class='modal-body clearfix'>
                                  <h1 class='h6 title medals'>Escolhe a medalha que queres oferecer:</h1>
                                  <form>
                                    <div class='medal'>
                                      <label>
                                        <input name='radio' type='radio'>
                                        <span class='lbl first'></span>
                                      </label>
                                      <p class='description'>Mudança</p>
                                    </div>
                                    <div class='medal'>
                                      <label>
                                        <input name='radio' type='radio'>
                                        <span class='lbl second'></span>
                                      </label>
                                      <p class='description'>Surpresa</p>
                                    </div>
                                    <div class='medal'>
                                      <label>
                                        <input name='radio' type='radio'>
                                        <span class='lbl third'></span>
                                      </label>
                                      <p class='description'>Superou</p>
                                    </div>
                                    <div class='medal'>
                                      <label>
                                        <input name='radio' type='radio'>
                                        <span class='lbl fourth'></span>
                                      </label>
                                      <p class='description'>Companheiro</p>
                                    </div>
                                  </form>
                                </div>
                              </div>
                              <div class='modal-body'>
                                <h1 class='h6 title'>Porquê?</h1>
                                <input class='form-control why' placeholder='Explica o porquê de merecer esta medalha…' type='text'>
                              </div>
                              <div class='modal-footer'>
                                <div class='row'>
                                  <div class='col-md-6' id='left'>
                                    <button class='btn btn-default' data-dismiss='modal' type='button'>Cancelar</button>
                                  </div>
                                  <div class='col-md-6' id='right'>
                                    <button class='btn btn-primary' type='button'>Oferecer</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div aria-hidden='true' aria-labelledby='myModalLabel' class='modal fade' id='viewAwards-modal' role='dialog' tabindex='-1'>
                          <div class='modal-dialog'>
                            <div class='modal-content'>
                              <div class='modal-header'>
                                <button class='close' data-dismiss='modal' type='button'>
                                  <span aria-hidden='true'>&#215;</span>
                                  <span class='sr-only'>Close</span>
                                </button>
                                <h1 class='h6 title'>
                                  Total de medalhas:
                                  <span>16</span>
                                </h1>
                              </div>
                              <div class='modal-body'>
                                <div class='row'>
                                  <div class='col-md-12'>
                                    <div class='icon-wrap green'>
                                      <i class='fa fa-bicycle'></i>
                                    </div>
                                    <div class='awardInfo'>
                                      <h1 class='h6 title'>
                                        Mudança
                                        <span>
                                          de
                                          <a href='#' title='Nome do user'>Hugo Frade</a>
                                        </span>
                                      </h1>
                                      <p class='description'>Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate.</p>
                                      <time>2 dias atrás</time>
                                    </div>
                                    <div class='separator'></div>
                                  </div>
                                </div>
                                <div class='row'>
                                  <div class='col-md-12'>
                                    <div class='icon-wrap green'>
                                      <i class='fa fa-dashboard'></i>
                                    </div>
                                    <div class='awardInfo'>
                                      <h1 class='h6 title'>
                                        Surpreendeu
                                        <span>
                                          de
                                          <a href='#' title='Nome do user'>Rafael Viana</a>
                                        </span>
                                      </h1>
                                      <p class='description'>Mauris non tempor quam, et lacinia sapien. Mauris accumsan.</p>
                                      <time>2 dias atrás</time>
                                    </div>
                                    <div class='separator'></div>
                                  </div>
                                </div>
                                <div class='row'>
                                  <div class='col-md-12'>
                                    <div class='icon-wrap red'>
                                      <i class='fa fa-trophy'></i>
                                    </div>
                                    <div class='awardInfo completed'>
                                      <h1 class='h6 title'>
                                        1º Desafio completo!
                                      </h1>
                                      <p class='description'>
                                        de 14/05/2014 a 14/09/2014
                                        <span class='challengeName'>"Ibiza espera-me!"</span>
                                      </p>
                                      <time>2 dias atrás</time>
                                    </div>
                                    <div class='separator'></div>
                                  </div>
                                </div>
                              </div>
                              <div class='modal-footer'>
                                <div class='row'>
                                  <div class='col-md-6' id='left'>
                                    <ul class='pagination'>
                                      <li class='active'>
                                        <a href='#'>
                                          1
                                          <span class='sr-only'>(current)</span>
                                        </a>
                                      </li>
                                      <li>
                                        <a href='#'>
                                          2
                                        </a>
                                      </li>
                                      <li>
                                        <a href='#'>
                                          3
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                  <div class='col-md-6' id='right'>
                                    <button class='btn btn-primary' data-dismiss='modal' data-keyboard='true' data-target='#newAward-modal' data-toggle='modal' type='button'>Oferecer</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                  
                  
                  
                  
				  <li class='configs'>
                      <a alt='Configurações' class='configBtn' data-toggle='dropdown' href='javascript:;'>
                        <i class='fa fa-cog fa-2x'></i>
                      </a>
                      <div class='dropdown-menu dropdown-menu-right cornered'>
                        <div class='panel'>
                          <ul class='list-group'>
                            <li class='list-group-item'>
                              <a href='#'>
                                Denunciar
                              </a>
                            </li>
                            <li class='list-group-item'>
                              <a href='#'>
                                Bloquear
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </li>
                </ul>
              </div>
              
              
              
              
              
            </div>
          </div>
        </div>
        
        
        
        
        
        
        
        <div class='container'>
          <div class='userInfo-body'>
            <div class='row'>
        
              <div class='userBio col-md-2'>
                <div class='userDetails'>
                	<%unless @user.local.blank? %>
	                  <div class='userDetails-location'>
	                    <i class='fa fa-lg fa-map-marker'></i>
	                    <span class='userDetails-text'><%= @user.local %></span>
	                  </div>
					<%end%>
					 
					<%unless @user.facebook_user.blank? %>
	                  <div class='userDetails-social'>
	                    <i class='fa fa-lg fa-facebook-square'></i>
	                    <%= link_to @user.facebook_user, "http://facebook.com/#{current_user.facebook_user}", :class => 'userDetails-text', target: "_blank"%>
	                  </div>
					 <%end%>
					 
					 <%unless @user.biography.blank? %>
		                  <div class='userDetails-about'>
		                    <i class='fa fa-lg fa-quote-left'></i>
		                    <span class='userDetails-text'><%= @user.biography %></span>
		                  </div>
					  <%end%>

                </div>
              </div>
                     
              <!--User Friends-->
              <div class='userFriends col-md-4'>
                <div class='modalBox'>
                  <div class='header'>
                    <div class='row'>
                      <div class='col-md-6'>
                        <h1 class='h5'>
                          Amigos
                          <span>(<%= @user.number_of_friends()%>)</span>
                        </h1>
                      </div>
                      
                      
                      <div class='col-md-6'>
                        <div class='search'>
                          <form action='#' class='form-search'>
                            <label class='sr-only' for='searchFriends'>Consulta de busca</label>
                            <input class='search-input' id='searchFriends' placeholder='Procurar...' type='text'>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                  
                  <div class='body'>
                    <div class='row'>
                    
                    <% @user.friends.each do |friendline| %>
                    	<div class='col-md-3'>
                    		<%if friendline.friend.id != current_user.id%>
                    			<%= link_to image_tag(friendline.friend.photo.url(:nav), :class=>"friendPicture img-responsive"), 
										public_profile_path(friendline.friend.id), :class => "withTooltip", 
										'data-placement' => 'top', 
										'data-toggle' => 'tooltip', 
										'title' => friendline.friend.nome %>
							<% else %>
								<%= link_to image_tag(friendline.friend.photo.url(:nav), :class=>"friendPicture img-responsive"), 
										dashboard_path, :class => "withTooltip", 
										'data-placement' => 'top', 
										'data-toggle' => 'tooltip', 
										'title' => friendline.friend.nome %>
							<% end%>
	                   </div>
					<% end %>
                      <div class='col-md-3'>
                        <a alt='Adicionar amigo' class='addFriend' href='javascript:;'>
                          <i class='fa fa-plus fa-3x'></i>
                        </a>
                      </div>
                      
                      
                    </div>
                    
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </article>

  <article class='userChallenges'>
        <div class='container'>
          <div class='row'>
            <div class='challengesTitle col-md-6'>
              <h1 class='h4'>Desafios</h1>
            </div>
            <div class='challengesFilter col-md-6'>
              <p>
                <span>• TODOS</span>
                <span>• A DECORRER</span>
                <span>• CONCLUÍDO</span>
              </p>
            </div>
          </div>
          
          
		<div class='row'>
			<% unless @user.user_objectives.blank?  %>
			 
				<% @user.user_objectives.reverse!.each do |userobj| %>
				
					<%if userobj.objective.privacy != 0 %>	
						<div class='col-md-4'>
							<%if (userobj.objective.completed_percentage<100) %>
					          <div class='challenge'>
					            <div class='challengeImage-wrapper'>
				                	<%= image_tag( userobj.objective.photo.url(:dashboard), :class => "challengeImage")%>
				                </div>
					            <div class='black-wrapper'>
				                  <div class='hiddenInfo'>
				                    <div class='challengeFriends'>
				                      <a alt='Nome do amigo' class='friendPicture' href='javascript:;'>
				                        <img alt='Nome do amigo' class='img-responsive' src='images/f04.jpg'>
				                      </a>
				                      <a alt='Nome do amigo' class='friendPicture' href='javascript:;'>
				                        <img alt='Nome do amigo' class='img-responsive' src='images/f03.jpg'>
				                      </a>
				                      <a alt='Nome do amigo' class='friendPicture' href='javascript:;'>
				                        <img alt='Nome do amigo' class='img-responsive' src='images/f01.jpg'>
				                      </a>
				                      <a alt='Nome do amigo' class='friendPicture viewMore' href='javascript:;'>2</a>
				                    </div>
				                    <div class='challengeProgress' style="left: 20px; right: 20px;">
				                    	Progresso:
									  <%= bootstrap_progress_bar(userobj.objective.completed_percentage, :color => 'info', :tiny => true) %>  
				                    </div>
				                  </div>
								</div>
							<% else %>
							  <div class='challenge completed'>
							    <div class='challengeImage-wrapper'>
							    	<%= image_tag( userobj.objective.photo.url(:dashboard), :class => "challengeImage")%>
							    </div>
								<div class='black-wrapper'>
							      <div class='completedBadge'>
							        <i class='fa fa-check fa-3x'></i>
							      </div>
							    </div>
							<%end%>
					            <div class='challengeTitle'>
				                  <h1 class='h3'>
				                  	<%= link_to userobj.objective.name, userobj.objective %>
				                  </h1>
				                </div>
					          </div>
					    </div>
					<%end%>
				<% end %>
			<% else %>
					
				Nenhum objectivo
			
			<% end %>
			Badges
			<%= link_to 'Oferecer Badge', "#" %>   
		
						
		</div>
						
      </article>

</section>