<section>

	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6 hidden-xs">
				<%= image_tag @user.photo.url(:dashboard), :class => "img-rounded img-responsive" %>
				
				<% if Friend.is_friend?(current_user.id, @user.id)%>
					<%= link_to 'Remover amigo', remove_friend_path(@user.id) %>
				<% else %>
					<%= link_to 'Adicionar como amigo', add_friend_path(@user.id) %>
				<% end %>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-6">
				<p><%= @user.nome %></p>
				<p><%= @user.local %></p>
				<p><%= @user.facebook_user %></p>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-6">
				Badges
			</div>
		</div>
	</div>
</section>


<section>
	<div class="container">
		<div class="row">

			<% if @user.user_objectives != nil  %>
				<% @user.user_objectives.reverse!.each do |userobj| %>
					<div class="col-md-4 col-sm-6">
							<%= link_to image_tag( userobj.objective.photo.url(:dashboard), :class => "img-rounded img-responsive"), userobj.objective %>
					        <h1><%= userobj.objective.name %></h1>
					        <p><%= userobj.objective.start_day %></p>
					        <p><%= userobj.objective.end_day %></p>
					        <p><%= userobj.objective.price %></p>
					        <p><%= Enumerators::ObjectiveType[userobj.objective.objective_type] %></p>
					        <p><%= Enumerators::Privacy[userobj.objective.objective_type] %></p>
								<%= link_to 'Edit', edit_objective_path(userobj.objective) %>
						        <%= link_to 'Destroy', userobj.objective, method: :delete, data: { confirm: 'Are you sure?' } %>
						    </p>
					</div>
				<% end %>
			<% else %>
				<div class="col-md-12">
					Nenhum objectivo
				</div>
			<% end %>
		</div>
	</div>
	
</section>