<section id='dashboard'>
  <article class='cover'>
        <div class='background-cover'>
        	<%= image_tag current_user.cover.url(:cover) %>
        </div>
        
        <div class='container userPicture-container'>
          <div class='row'>
            <div class='col-md-2'>
              <div class='userPicture'>
                <div class='userPicture-inner'>
                  <%= image_tag current_user.photo.url(:dashboard), :class => "userPicture-image" %>
                  <%= link_to '<i class="fa fa-lg fa-pencil-square-o"></i> Editar perfil'.html_safe, edit_user_registration_path, :class =>"userPicture-edit" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </article>

  <article class='userInfo'>
        <div class='userInfo-header'>
          <div class='container'>
            <div class='row'>
            
            
              <div class='userName col-md-5 col-md-offset-2'>
                <h1 class='h3'><%= current_user.name %> <%= current_user.surname %> </h1>
              </div>
                            
              <div class='col-md-5'>
                <ul class='userInfo-header-right pull-right'>
                    <li class='userAwards'>
                      <h2>
                        Medalhas
                        <% if @user_badges.length != 0 %>
                       		<a data-target='#viewAwards-modal' data-toggle='modal' href='#'>(<%= @user_badges.length%>)</a>
					   	<%else%>
					   		(0)
					   	<%end%>
                      </h2>
                      <div class='userAward-wrapper'>
						<% @user_badges.reverse!.each do |badge| %>
							
							<a class='award green' href='javascript:;'>
	                          <i class="fa <%= badge.badge.symbol %> "></i>
	                        </a>
	                         
						<% end %>
						
                        <!-- Modal -->
                        <div aria-hidden='true' aria-labelledby='myModalLabel' class='modal fade' id='viewAwards-modal' role='dialog' tabindex='-1'>
                          <div class='modal-dialog'>
                            <div class='modal-content'>
                              <div class='modal-header'>
                                <button class='close' data-dismiss='modal' type='button'>
                                  <span aria-hidden='true'>&#215;</span>
                                  <span class='sr-only'>Close</span>
                                </button>
                                <h1 class='h6 title'>
                                  Total de medalhas:
                                  <span>16</span>
                                </h1>
                              </div>
                              <div class='modal-body'>
                                <div class='row'>
                                  <div class='col-md-12'>
                                    <div class='icon-wrap green'>
                                      <i class='fa fa-bicycle'></i>
                                    </div>
                                    <div class='awardInfo'>
                                      <h1 class='h6 title'>
                                        Mudança
                                        <span>
                                          de
                                          <a href='#' title='Nome do user'>Hugo Frade</a>
                                        </span>
                                      </h1>
                                      <p class='description'>Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate.</p>
                                      <time>2 dias atrás</time>
                                    </div>
                                    <div class='separator'></div>
                                  </div>
                                </div>
                                <div class='row'>
                                  <div class='col-md-12'>
                                    <div class='icon-wrap green'>
                                      <i class='fa fa-dashboard'></i>
                                    </div>
                                    <div class='awardInfo'>
                                      <h1 class='h6 title'>
                                        Surpreendeu
                                        <span>
                                          de
                                          <a href='#' title='Nome do user'>Rafael Viana</a>
                                        </span>
                                      </h1>
                                      <p class='description'>Mauris non tempor quam, et lacinia sapien. Mauris accumsan.</p>
                                      <time>2 dias atrás</time>
                                    </div>
                                    <div class='separator'></div>
                                  </div>
                                </div>
                                <div class='row'>
                                  <div class='col-md-12'>
                                    <div class='icon-wrap red'>
                                      <i class='fa fa-trophy'></i>
                                    </div>
                                    <div class='awardInfo completed'>
                                      <h1 class='h6 title'>
                                        1º Desafio completo!
                                      </h1>
                                      <p class='description'>
                                        de 14/05/2014 a 14/09/2014
                                        <span class='challengeName'>"Ibiza espera-me!"</span>
                                      </p>
                                      <time>2 dias atrás</time>
                                    </div>
                                    <div class='separator'></div>
                                  </div>
                                </div>
                              </div>
                              <div class='modal-footer'>
                                <div class='row'>
                                  <div class='col-md-6' id='left'>
                                    <ul class='pagination'>
                                      <li class='active'>
                                        <a href='#'>
                                          1
                                          <span class='sr-only'>(current)</span>
                                        </a>
                                      </li>
                                      <li>
                                        <a href='#'>
                                          2
                                        </a>
                                      </li>
                                      <li>
                                        <a href='#'>
                                          3
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>
        
        
        
        
        
        
        
        <div class='container'>
          <div class='userInfo-body'>
            <div class='row'>
        
              <div class='userBio col-md-2'>
                <div class='userDetails'>
                	<%unless current_user.city.blank? %>
	                  <div class='userDetails-location'>
	                    <i class='fa fa-lg fa-map-marker'></i>
	                    <span class='userDetails-text'><%= current_user.city %> <% if !current_user.country.blank?%>, <%=current_user.country %><%end%> </span>
	                  </div>
					<%end%>
					 
					<%unless current_user.facebook_user.blank? %>
	                  <div class='userDetails-social'>
	                    <i class='fa fa-lg fa-facebook-square'></i>
	                    <%= link_to current_user.facebook_user, "http://facebook.com/#{current_user.facebook_user}", :class => 'userDetails-text', target: "_blank"%>
	                  </div>
					 <%end%>
					 
					 <%unless current_user.biography.blank? %>
		                  <div class='userDetails-about'>
		                    <i class='fa fa-lg fa-quote-left'></i>
		                    <span class='userDetails-text'><%= current_user.biography %></span>
		                  </div>
					  <%end%>

                </div>
              </div>
       
			  <!--Diário de Bordo-->
              <div class='userEntries col-md-6'>
                <div class='modalBox'>
                  <div class='header'>
                    <h1 class='h5'>
                      Diário de bordo
                      <small>Últimas entradas</small>
                    </h1>
                  </div>
                  <div class='body'>
                  	<% @last_values_added.each do |value| %>
                  
						<div class='newEntry'>
							<i class='fa fa-eur green'></i>
							<p class='entryText'>
								Adicionaste
								<span class='bold'><%=value.value%> <%= t('currencyicon_html')%></span>
								ao desafio
								<span class='italic'>
								  <%= link_to value.objective.name, value.objective %>
								</span>
							</p>
							<time>
								<%= 	if ((((Time.now - value.created_at) / 1.hour).round) <= 48 ) 
									 		time_ago_in_words(value.created_at)
									 	else 
									 		time_ago_in_words(value.created_at.to_date) 
									 	end
								%>
							</time>
						</div>
                    <%end%>
                    
                  </div>
                  <!--
<div class='footer'>
                    <a alt='Ver mais' class='viewAll' href='javascript:;'>Ver mais</a>
                  </div>
-->
                </div>
              </div>
              
              <!--User Friends-->
              <div class='userFriends col-md-4'>
                <div class='modalBox'>
                  <div class='header'>
                    <div class='row'>
                      <div class='col-md-12'>
                        <h1 class='h5'>
                          Amigos
						  <small>
                            <a class='viewAll' data-target='#viewFriends-modal' data-toggle='modal' href='#' title='Ver todos'>Ver todos (<%= current_user.number_of_friends()%>)</a>
                          </small>
                        </h1>
                      </div>
                      
                     
                    </div>
                  </div>
                  
                  
                  
                  <div class='body'>
                    <div class='row'>
                    	<% unless current_user.friends.blank? %>
		                    <% current_user.friends.each do |friendline| %>
		                    	<div class='col-md-3'>
		                    		<%= link_to image_tag(friendline.friend.photo.url(:nav), :class=>"friendPicture img-responsive"), 
												public_profile_path(friendline.friend.id), :class => "withTooltip", 
												'data-placement' => 'top', 
												'data-toggle' => 'tooltip', 
												'title' => friendline.friend.name %>
			                   </div>
							<% end %>
						<% else%>
							<div class='row'>
		                      <div class='col-md-12'>
		                        <div class='noEntryToShow'>
		                          <p class='entryText'>
		                            <a alt='Clica para adicionar amigos' data-target='#viewFriends-modal' data-toggle='modal' href='#'>Clica aqui</a>
		                            para adicionar amigos
		                          </p>
		                        </div>
		                      </div>
		                    </div>
						<%end%>
                      <div class='col-md-3'>
                        <a alt='Adicionar amigo' class='addFriend' href='javascript:;'>
                          <i class='fa fa-plus fa-3x'></i>
                        </a>
                      </div>
                      
                      
                    </div>
                    
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </article>

  <article class='userChallenges'>
        <div class='container'>
          <div class='row'>
            <div class='challengesTitle col-md-6'>
              <h1 class='h4'>Desafios</h1>
            </div>            
            <div class='challengesFilter col-md-6'>
            	<%unless current_user.user_objectives.blank?%>
	              <ul class='filter nav nav-pills'>
	<!--0 -> Todos  1-> A Decorrer  2-> Concluido -->
					<li class="active"><%= link_to("TODOS", "javascript:;", { :class => "filtro_obj", :data => { :estado => 0 } }) %></li>
				  	<li><%= link_to("A DECORRER", "javascript:;", { :class => "filtro_obj", :data => { :estado => 1 } }) %></li>
				  	<li><%= link_to("CONCLUÍDO" , "javascript:;", { :class => "filtro_obj", :data => { :estado => 2 } }) %></li>
				  	<% Category.all.each do |c, i|%>
				  		<li><%= link_to("#{c.name.upcase}", "javascript:;", { :class => "filtro_obj", :data => { :catid => c.id } }) %></li>
				  	<%end%>
	              </ul>
	            <%end%>
            </div>
          </div>
          <div class='row' id="challenges"></div>
        </div>
  </article>

</section>

<% content_for :js do %>
<script>
	

	


loadObjectives(0);
</script>
<% end %>