<section id='dashboard'>
  <article class='cover'>
        <div class='background-cover'>
        	<%= image_tag current_user.cover.url(:cover) %>
        </div>
        
        <div class='container userPicture-container'>
          <div class='row'>
            <div class='col-md-2'>
              <div class='userPicture'>
                <div class='userPicture-inner'>
                  <%= image_tag current_user.photo.url(:dashboard), :class => "userPicture-image" %>
                  <%= link_to '<i class="fa fa-lg fa-pencil-square-o"></i> Editar perfil'.html_safe, edit_user_registration_path, :class =>"userPicture-edit" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </article>

  <article class='userInfo'>
        <div class='userInfo-header'>
          <div class='container'>
            <div class='row'>
            
            
              <div class='userName col-md-5 col-md-offset-2'>
                <h1 class='h3'><%= current_user.nome %></h1>
              </div>
                            
              <div class='col-md-5'>
                <ul class='userInfo-header-right pull-right'>
                  <li class='userAwards'>
                    <h2>
                      Medalhas
                      <span>(16)</span>
                    </h2>
                    <div class='userAward-wrapper'>
                      <a alt='' class='award hexagon green' href='javascript:;'>
                        <i class='fa fa-star fa-lg'></i>
                      </a>
                      <a alt='' class='award hexagon red' href='javascript:;'>
                        <i class='fa fa-trophy fa-lg'></i>
                      </a>
                      <a alt='' class='award hexagon green' href='javascript:;'>
                        <i class='fa fa-tree fa-lg'></i>
                      </a>
                      <a alt='' class='award hexagon green' href='javascript:;'>
                        <i class='fa fa-plane fa-lg'></i>
                      </a>
                    </div>
                  </li>
                  <li class='configs'>
                    <a alt='Configurações' class='configBtn' href='javascript:;'>
                      <i class='fa fa-cog fa-2x'></i>
                    </a>
                  </li>
                </ul>
              </div>
              
              
              
              
              
            </div>
          </div>
        </div>
        
        
        
        
        
        
        
        <div class='container'>
          <div class='userInfo-body'>
            <div class='row'>
        
              <div class='userBio col-md-2'>
                <div class='userDetails'>
                	<%unless current_user.local.blank? %>
	                  <div class='userDetails-location'>
	                    <i class='fa fa-lg fa-map-marker'></i>
	                    <span class='userDetails-text'><%= current_user.local %></span>
	                  </div>
					<%end%>
					 
					<%unless current_user.facebook_user.blank? %>
	                  <div class='userDetails-social'>
	                    <i class='fa fa-lg fa-facebook-square'></i>
	                    <%= link_to current_user.facebook_user, "http://facebook.com/#{current_user.facebook_user}", :class => 'userDetails-text', target: "_blank"%>
	                  </div>
					 <%end%>
					 
					 <%unless current_user.biography.blank? %>
		                  <div class='userDetails-about'>
		                    <i class='fa fa-lg fa-quote-left'></i>
		                    <span class='userDetails-text'><%= current_user.biography %></span>
		                  </div>
					  <%end%>

                </div>
              </div>
       
			  <!--Diário de Bordo-->
              <div class='userEntries col-md-6'>
                <div class='modalBox'>
                  <div class='header'>
                    <h1 class='h5'>
                      Diário de bordo
                      <small>Últimas entradas</small>
                    </h1>
                  </div>
                  <div class='body'>
                    <div class='newEntry'>
                      <i class='fa fa-eur green'></i>
                      <p class='entryText'>
                        Adicionaste
                        <span class='bold'>7,50€</span>
                        ao desafio
                        <span class='italic'>
                          <a alt='Ibiza espera-me!' href='javascript:;'>Ibiza espera-me!</a>
                        </span>
                      </p>
                      <time>20min</time>
                    </div>
                    <div class='newEntry'>
                      <i class='fa fa-eur green'></i>
                      <p class='entryText'>
                        Adicionaste
                        <span class='bold'>2,00€</span>
                        ao desafio
                        <span class='italic'>
                          <a alt='Ibiza espera-me!' href='javascript:;'>Ibiza espera-me!</a>
                        </span>
                      </p>
                      <time>2d</time>
                    </div>
                    <div class='newEntry'>
                      <i class='fa fa-trophy red'></i>
                      <p class='entryText'>
                        Desafio concluído:
                        <span class='bold'>
                          <a alt='Ibiza espera-me!' href='javascript:;'>Roteiro dos 7 picos</a>
                        </span>
                      </p>
                      <time>10/07</time>
                    </div>
                    <div class='newEntry'>
                      <i class='fa fa-eur green'></i>
                      <p class='entryText'>
                        Adicionaste
                        <span class='bold'>12,00€</span>
                        ao desafio
                        <span class='italic'>
                          <a alt='Ibiza espera-me!' href='javascript:;'>Comprar Rollex de Sonho</a>
                        </span>
                      </p>
                      <time>26/06</time>
                    </div>
                  </div>
                  <div class='footer'>
                    <a alt='Ver mais' class='viewAll' href='javascript:;'>Ver mais</a>
                  </div>
                </div>
              </div>
              
              <!--User Friends-->
              <div class='userFriends col-md-4'>
                <div class='modalBox'>
                  <div class='header'>
                    <div class='row'>
                      <div class='col-md-6'>
                        <h1 class='h5'>
                          Amigos
                          <span>(<%= current_user.number_of_friends()%>)</span>
                        </h1>
                      </div>
                      
                      
                      <div class='col-md-6'>
                        <div class='search'>
                          <form action='#' class='form-search'>
                            <label class='sr-only' for='searchFriends'>Consulta de busca</label>
                            <input class='search-input' id='searchFriends' placeholder='Procurar...' type='text'>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  
                  
                  <div class='body'>
                    <div class='row'>
                    
                    <% current_user.friends.each do |friendline| %>
                    	<div class='col-md-3'>
                    		<%= link_to image_tag(friendline.friend.photo.url(:nav), :class=>"friendPicture img-responsive"), 
										public_profile_path(friendline.friend.id), :class => "withTooltip", 
										'data-placement' => 'top', 
										'data-toggle' => 'tooltip', 
										'title' => friendline.friend.nome %>
	                   </div>
					<% end %>
                      <div class='col-md-3'>
                        <a alt='Adicionar amigo' class='addFriend' href='javascript:;'>
                          <i class='fa fa-plus fa-3x'></i>
                        </a>
                      </div>
                      
                      
                    </div>
                    
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </article>

  <article class='userChallenges'>
        <div class='container'>
          <div class='row'>
            <div class='challengesTitle col-md-6'>
              <h1 class='h4'>Desafios</h1>
            </div>
            <div class='challengesFilter col-md-6'>
              <p>
<!--0 -> Todos  1-> A Decorrer  2-> Concluido -->
              	<span><%= link_to("• TODOS", "javascript:;", { :class => "filtro_obj", :data => { :estado => 0 } }) %></span>
			  	<span><%= link_to("• A DECORRER", "javascript:;", { :class => "filtro_obj", :data => { :estado => 1 } }) %></span>
			  	<span><%= link_to("• CONCLUÍDO" , "javascript:;", { :class => "filtro_obj", :data => { :estado => 2 } }) %></span>
              </p>
            </div>
          </div>
          
          
          <div class='row' id="challenges"></div>
      </article>

</section>


<% content_for :js do %>
<script>



loadObjectives(0);
</script>
<% end %>